<html>
  <head>
    <meta charset="UTF-8" />
    <meta
      http-equiv="Content-Security-Policy"
      content="script-src 'self' 'unsafe-inline';"
    />
    <link rel="stylesheet" type="text/css" href="../styles/reset.css" />
    <link rel="stylesheet" type="text/css" href="../styles/fonts.css" />
    <link rel="stylesheet" type="text/css" href="../styles/default.css" />
  </head>
  <body>
    <div id="titlebar">
      <h1 id="title"></h1>
      <button id="close">x</button>
    </div>
    <div id="body"></div>
    <script>
      const { shell, remote, ipcRenderer } = require("electron");

      const win = remote.getCurrentWindow();
      const $title = document.getElementById("title");
      const $body = document.getElementById("body");
      const $close = document.getElementById("close");

      ipcRenderer.on("title", (event, title) => {
        $title.innerText = title;
      });

      ipcRenderer.on("items", (event, items) => {
        $body.innerText = "";
        items.forEach(item => {
          const $p = document.createElement("p");
          $p.innerHTML = `${item.label}: `;
          if (item.link) {
            const $a = document.createElement("a");
            $a.addEventListener("click", event => {
              event.preventDefault();
              shell.openExternal(item.value);
            });
            $a.innerHTML += item.value;
            $p.appendChild($a);
          } else {
            $p.innerHTML += item.value;
          }
          $body.appendChild($p);
        });
      });

      $close.addEventListener("click", () => {
        win.hide();
      });
    </script>
  </body>
</html>
