<html>
  <head>
    <meta charset="UTF-8" />
    <meta
      http-equiv="Content-Security-Policy"
      content="script-src 'self' 'unsafe-inline';"
    />
    <link rel="stylesheet" type="text/css" href="../styles/reset.css" />
    <link rel="stylesheet" type="text/css" href="../styles/fonts.css" />
    <link rel="stylesheet" type="text/css" href="../styles/default.css" />
  </head>
  <body>
    <div id="titlebar">
      <h1 id="title"></h1>
      <button id="close">x</button>
    </div>
    <div id="body"></div>
    <script src="../js/renderer/index.js"></script>
    <script src="../js/renderer/leagues.js"></script>
  </body>
</html>
